<title>TeamSync - Crediti</title>
{{> headerHome}}

<main class="main-content">
    <div class="profile-card credits-card">
        <h1 class="profile-title">Crediti</h1>
        <hr class="profile-divider">
        <ul class="credits-list">
            <li><span class="credits-icon">👤</span>Progetto, sviluppo, design e documentazione:&nbsp<strong>Eros Marucchi</strong></li>
        </ul>
        <hr class="profile-divider">
        <h2 class="profile-title credits-section-title">Supervisione e commissione</h2>
        <ul class="credits-section">
            <li>Formatore: Prof. Maurizio Di Florio</li>
            <li>Perito 1: Prof. Fabrizio Valsangiacomo</li>
            <li>Perito 2: Prof. Daniel Pagano</li>
        </ul>
        <hr class="profile-divider">
        <div class="credits-repo">
            <span class="credits-icon">🔗</span> Repository del progetto: 
            <a href="http://gitsam.cpt.local/2024_2025_lpi/marucchi-teamsync" target="_blank" class="credits-link">http://gitsam.cpt.local/2024_2025_lpi/marucchi-teamsync</a>
        </div>
    </div>
</main>
{{> footer}}

</html>