<title>TeamSync - Reset Password</title>
{{> headerAuth}}

<body>
    <div class="container">
        <div class="auth-card">
            <div class="logo">
                <span class="logo-text">TeamSync</span>
            </div>
            <div class="forms-container">
                <p class="reset-password-description">Inserisci e conferma la tua nuova password per completare il
                    reset.</p>
                <form class="form active" id="reset-password-form">
                    <div id="reset-password-message"></div>
                    <div class="form-group">
                        <label for="new-password">Nuova password</label>
                        <div class="input-container">
                            <input type="password" id="new-password" name="new-password"
                                placeholder="Inserisci la nuova password" required minlength="8"
                                autocomplete="new-password">
                            <button type="button" id="togglePasswordNew" tabindex="-1" class="toggle-password-btn">
                                <svg id="eyeIconNew" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="confirm-password">Conferma password</label>
                        <div class="input-container">
                            <input type="password" id="confirm-password" name="confirm-password"
                                placeholder="Conferma la nuova password" required minlength="8"
                                autocomplete="new-password">
                            <button type="button" id="togglePasswordConfirm" tabindex="-1" class="toggle-password-btn">
                                <svg id="eyeIconConfirm" xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                    fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" viewBox="0 0 24 24">
                                    <path d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                    <path
                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <button type="submit" class="submit-btn">Cambia password</button>
                </form>
            </div>
        </div>
    </div>
    <script src="/js/modules/resetPasswordFlow.js"></script>
    <script type="module">
        import { initResetPasswordToggles } from '/js/modules/ui.js';
        initResetPasswordToggles();
    </script>
    {{> footer}}